/*
_____________________________________________________

	Tourville - Materialize One Page Travel Theme
	Version: 1.0 
	Author : mohaiman
	Support: mohaiman.dev@gmail.com
_____________________________________________________

*/

body {
  font-family: 'Exo', sans-serif;
}

.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

.bg-new {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
i.material-icons.large.teal-text {
  color: #0082c8 !important;
}
.new-text {
  color: #0082c8;
}
